html, body, main{
  height: 100%;
  font-family: Helvetica , "Meiryo", sans-serif;
}

.container{
  background-color: #ebfffa; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  min-height: 100%;
}

/* --------------------------------------
　　　　　　店舗詳細
----------------------------------------*/
.detail {
  margin: 50px 0;
  width: 45%;
}

.detail-box{
  margin: 20px 0;
}

.detail-back{
  background: #fff;
  border:none;
  border-radius: 5px;
  font-size: 20px;
}

.detail-title{
  width: 100%;
  display: inline;
  font-size: 24px;
}

.detail-img {
  display: block;
  width: 75%;
  height: auto;
}

.detail-text {
  font-size: 18px;
  line-height: 1.5;
  margin-top:35px;
}

.detail-note{
  width: 75%;
  margin-top: 35px;
  font-size: 18px;
}

/* --------------------------------------
　　　　　　店舗予約
----------------------------------------*/
.reseve-info{
  margin: 50px 0;
  width: 50%;
}

.reseve-title{
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.reseve-box{
  background-color: #3560f6;
  border-radius: 5px 5px 0 0;
  width: 75%;
  height: 100%;
  padding: 6%;
  position: relative;
}

.reseve-date,
.reseve-time,
.reseve-num{
  display: block;
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  font-size: 16px;
}

.reseve-table{
  color: #fff;
  background-color: hsl(227, 87%, 65%);
  width: 90%;
  border-radius: 5px;
  margin-bottom: 5%;
}

.reseve-table th{
  padding-top: 10px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  width: 30%;
  color: #fff;
}

.reseve-table td{
  text-align: left;
  padding-top: 10px;
  padding-left: 3%;
}

.reseve-but{
  background-color: #1949f8;
  border-radius: 10px;
  width: 75%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 3%;
}

.reseve-buta{
  text-decoration: none;
}

/* --------------------------------------
　　　　　　レスポンシブデザイン
----------------------------------------*/
@media screen and (max-width: 768px){

  .detail {
    margin:  0;
    width: 100%;
  }

  .reseve-info{
    margin: 5% 0;
    width: 100%;
  }

  .detail-img {
    width: 100%;
    height: auto;
  }

  .detail-text {
    margin-top:8%;
  }

  .detail-note{
    width: 100%;
    margin-top: 7%;
  }

  .reseve-box{
    width: 100%;
    height: auto;
  }

  .reseve-but{
    position: static;
  }

  .reseve-table{
    width: 100%;
  }

.reseve-but{
  width: 100%;
}

}

@media screen and (max-width: 1440px){

    .reseve-but{
    position: static;
    width: 90%;
  }
}