html, body, main{
  height: 100%;
  font-family: Helvetica , "Meiryo", sans-serif;
}

.contain{
  background-color: #ebfffa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: auto;
}

.search{
  height: auto;
  width: 80%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.search-area,
.search-genre{
  height: 30px;
  width: 100px;
  background: #ccddf5;
  border: none;
  border-right: solid 1px #4ea6fd;
  display: inline-block;
  margin: 0;
}

.search-box{
  background: #ccddf5;
  border: none;
  height: 30px;
  display: inline-block;
  margin: 0;
}

.search-box:focus{
  outline: 0;
}

.submit-btn{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #7fbfff;
  color: #fff;
  outline : none;
  width: 3.0em;
  height: 30px;
  display: inline-block;
  margin: 0;
}
/* --------------------------------------
　　　　　　店舗一覧
----------------------------------------*/
.favorite {
  margin: 50px 0;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.favorite-title{
  width: 100%;
  margin-bottom: 30px;
  font-size: 24px;
}

.card {
  background: #fff;
  width: 23%;
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
}

.card-contents {
  padding: 8px 20px 20px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
}

.card-text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0.2em;
}

.card-link {
  display: flex;
  justify-content: space-between;
}

.shop-detail {
  margin:0 0 10px 20px;
  text-decoration: none;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
}

.fav-button{
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
}

.heart{
  width: 50px;
  height: 50px;
}

.fav-count{
  color: rgb(34, 77, 219);
  font-size: 22px;
  margin-right: 5px;
  margin-top: 30%;
}

/* --------------------------------------
　　　　　　レスポンシブデザイン
----------------------------------------*/

@media screen and (max-width: 480px){

.search{
  text-align: center;
}

.search-area,
.search-genre{
  width: 42%;
}

.search-box{
  width: 70%;
  border-top: solid 1px #4ea6fd;
}
.favorite{
justify-content: center;
}

.card {
  width: 85%;
}

}

@media screen and (min-width:480px) and ( max-width:1024px){

  .card {
  width: 40%;
  }

  .shop-detail{
    width: 60%;
    margin: 3%;
    font-size: 12px;
  }

  .fav-count{
    margin-right: 0;
  }

}
