html, body, main{
  height: 100%;
}

.container{
  background-color: #ebfffa; 
  display: flex;
  justify-content: center;
  height: 100%;
}

.card{
  background-color: white;
  width: 33%;
  height: 35%;
  border: solid 1px #c6fce5;
  margin-top: 8%;
  text-align: center;
}

.title{
  font-family: Helvetica , "Meiryo", sans-serif;
  margin-top: 18%;
}

.li-btn{
  display: inline-block;
  margin:10%;
  padding: 0.3em 0.8em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px #d3d1d1;
  border-bottom: solid 3px #5e7fca;
}

/* --------------------------------------
　　　　　　レスポンシブデザイン
----------------------------------------*/
@media screen and (max-width: 1024px){
  .card{
    width: 50%;
    height: 30%;
  }

  .mail-bar,
  .pass-bar{
    width: 90%;
  }

}

@media screen and  ( max-width:425px){
  .card{
    width: 90%;
  }



}